.todo-card {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.todo-done {
  background-color: #d3d3d3; /* Grau */
}

.todo-card h4 {
  margin: 5px 0;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-card p {
  margin: 5px 0;
  font-family: Arial, sans-serif;
  color: #666;
}

.todo-card ul {
  margin: 10px 0 0;
  padding: 0;
  list-style-type: none;
}

.todo-card ul li {
  background-color: #f1f1f1;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #333;
}

.todo-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.todo-info h4 {
  width: calc(25% - 10px);
}

.todo-info p {
  width: calc(25% - 10px);
}

.notes-section {
  margin: 10px 15px 20px 15px;

}

.note-form {
  display: flex;
  margin-top: 10px;
}

.note-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  margin-right: 5px;
}

.note-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.add-note-button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.add-note-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.delete-button:hover {
  background-color: darkred;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.status-button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ff8800;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.delete-section {
  display: flex;
  justify-content: center;
}

.delete-section .delete-button {
  padding: 5px 20px;
}